:root {
  --base__height: 60px;
  --color__text: #000;
  --color__panel0: #eee;
  --color__panel1: #fff;
  --color__theme: #45c7ff;
  --color__title: #fff;
  --color__error: red;
  --hover__panel: brightness(97%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--color__panel0);
  color: var(--color__text);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: var(--color__theme);
  height: var(--base__height);
  display: flex;
  color: var(--color__title);
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;

  & a {
    color: var(--color__title);
    &:first-child {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 30px;
      text-decoration: none;
      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
      & h1 {
        font-size: 30px;
      }
    }
  }
}

.main {
  max-width: 800px;
  margin: 30px auto;
  padding: 10px;
  padding-top: var(--base__height);
  min-height: calc(100vh - 160px);

  position: relative;

  &__threads {
    &__error {
      color: var(--color__error);
    }
    &-container {
      & > ul {
        & li {
          list-style: none;
          display: flex;
          align-items: center;
          & a {
            padding: 20px;
            display: block;
            flex: 1;
            color: var(--color__text);
            text-decoration: none;
          }
          background: var(--color__panel1);
          margin: 10px 0;
          position: relative;
          border-radius: 4px;
          & span {
            position: absolute;
            top: 0;
            left: 0;
            color: #ddd;
          }
          &:hover {
            filter: var(--hover__panel);
            &::after {
              position: absolute;
              right: 10px;
              content: "＞";
              animation: threads-p-hover 0.3s ease-out;
              @keyframes threads-p-hover {
                0% {
                  transform: translateX(-10px);
                }
                100% {
                  transform: translateX(0);
                }
              }
            }
          }
        }
      }
    }
  }
  &__thread {
    &__error {
      color: var(--color__error);
    }
    &-container {
      & > ul {
        & li {
          list-style: none;
          padding: 10px 20px;
          background: var(--color__panel1);
          margin: 10px 0;
          position: relative;
          & span {
            position: absolute;
            top: 0;
            left: 0;
            color: #ddd;
          }
        }
      }
    }
  }

  &__new {
    max-width: 500px;
    margin: 0 auto;

    & input,
    & textarea {
      width: 100%;
      margin: 30px 0;
      background: var(--color__panel1);
      color: var(--color__text);
      font-size: 18px;
      line-height: 40px;
      border-radius: 4px;
      border: none;
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    & button {
      border-radius: 4px;
      border: none;
      font-size: 18px;
      line-height: 40px;
      padding: 0 40px;
      color: var(--color__title);
      background: var(--color__theme);
    }
  }
  &__topright {
    width: 100%;
    max-width: none;
    margin-bottom: 40px;

    & textarea {
      font-size: 16px;
      line-height: 32px;
      height: 100px;
      margin: 10px 0;
    }
    // position: fixed;
    // top: 0;
    // right: 0;
  }
}

.footer {
  background: black;
  color: var(--color__title);
  padding: 40px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color__text: #ddd;
    --color__panel0: #111;
    --color__panel1: #222;
    --color__theme: #17465a;
    --color__title: #ddd;
    --hover__panel: brightness(120%);
  }
}
